@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  background-color: #ffff;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 200px;
  background: #3f4739;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #e1f4cb;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #29323c;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
}

.click__shape {
  width: 400px;
  height: 300px;
  background: linear-gradient(118.38deg, #29323c -4.6%, #485563 200.44%);
  box-shadow: -2px -2px 5px #2a333d, 2px 3px 10px #475462;
  border-radius: 30px;
  color: white;
  font-size: 35px;
  line-height: 300px;
  text-align: center;
}

h3 {
  font-size: 20px;
  line-height: 40px;
}
